<h1 class="lead">Sign up Page</h1>
    {{#if errorMessage}}
      <p style="font-size:16px" class="alert alert-warning" role="alert" style="background-color:#beb9db !important ">{{errorMessage}}</p>
    {{/if}}
<div class="form-container">
  <form action="/auth/signup" method="POST" class="edit-form">
    <div class="mb-3">
      <label for="name" class="form-label"> Name</label>
      <input
        type="text"
        name="name"
        placeholder="Your name"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label"> Email </label>
      <input
        type="email"
        name="email"
        placeholder="Your email"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        placeholder="Your password"
        class="form-control"
      />
    </div>
    <button type="submit" class="btn btn-submit " style="color: white !important;">Sign Up</button>

  </form>
</div>