body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.edit-form {
  margin: 10px;
  width: 50%;
}

.lead {
  margin-top: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-label {
  font-weight: bold;
}

.card {
  height: 100%;
}

.card-img-top {
  max-height: 100%;
  width: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
}

.card-title {
  margin-top: 10px; /* Adjust as needed */
}

.card-text {
  height: 80px; /* Set a fixed height for the description */
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-primary {
  margin-top: auto; /* Push the button to the bottom of the card */
}
