body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.edit-form {
  margin: 10px;
  width: 50%;
}

.lead {
  margin-top: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-label {
  font-weight: bold;
}

.btn {
  border-color: transparent !important;
}
.btn-danger {
  background-color: #f1968a !important;
}

.btn-success {
  background-color: #8bd3c7 !important;
}

.btn-submit {
  background-color: #bd7ebe !important;
  margin-bottom: 10px;
}

.card {
  height: 100%;
}

.card-img-top {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-title {
  margin-top: 10px;
}

.card-text {
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-primary {
  margin-top: auto;
}

.nav-link {
  text-decoration: none !important;
  color: white !important;
}

li {
  font-style: none;
}

.btn .btn-light {
  background-color: #151269 !important ;
}

.navbar-brand {
  color: white !important;
  padding-left: 10px !important;
}
